<launch>
  <arg name="robot_name"  default="johnny5" />
  <arg name="l_hand_type" default="$(optenv L_HAND_TYPE none)" />
  <arg name="r_hand_type" default="$(optenv R_HAND_TYPE none)" />

  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <arg name="load_robot_description" default="false"/>

  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>

  <!-- Load universal robot description format (URDF) -->
  <include file="$(find thormang3_description)/launch/load_robot_description.launch" if="$(arg load_robot_description)">
    <arg name="robot_name" value="$(arg robot_name)" />
    <arg name="l_hand_type" value="$(arg l_hand_type)" />
    <arg name="r_hand_type" value="$(arg r_hand_type)" />
    <arg name="wrist_ft_sensor" value="false" />
  </include>

  <!-- The semantic description that corresponds to the URDF -->
  <param name="$(arg robot_description)_semantic" textfile="$(find thor_mang_moveit_config)/config/johnny5.srdf" />
  
  <!-- Load updated joint limits (override information from URDF) -->
  <group ns="$(arg robot_description)_planning">
    <rosparam command="load" file="$(find thor_mang_moveit_config)/config/joint_limits.yaml"/>
  </group>

  <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
  <group ns="$(arg robot_description)_kinematics">
    <rosparam command="load" file="$(find thor_mang_moveit_config)/config/kinematics.yaml"/>
  </group>
  
</launch>
